#footer-content
  font-family: 'Open Sans'
  font-size: 12px
  margin: 0 auto
  position: relative
  text-align: left
  width: 980px
  div
    display: table-cell
  .institucional
    padding: 30px 0
    .logo-sistema
      background: url('images/logo-sistema.png') 0 0 no-repeat
      display: block
      height: 33px
      margin: 0
      overflow: hidden
      text-indent: -9999px
      width: 100%
    .address
      clear: both
      color: #282828
      display: block
      font-size: 11px
      font-style: normal
      width: 100%
  .coordenacao
    width: 250px
    span
      color: #282828 
      display: block
      padding: 0 0 0 40px
    ul
      list-style: none
      padding: 0
      margin: 0
    li
      margin: 0
    .logo-secretaria
      background: url('images/logo-secretaria.png') 0 0 no-repeat
      display: block
      float: right
      height: 65px
      margin: 0
      overflow: hidden
      text-indent: -9999px
      width: 262px
  .parcerias
    width: 435px
    span
      color: #282828
      display: block
      padding: 0 0 0 40px
    ul
      list-style: none
      margin: 0
      padding: 0
    li
      margin: 0
    .logo-seplan
      background: url('images/logo-seplan.png') 0 0 no-repeat
      display: block
      float: left
      height: 65px
      margin: 0 50px 0 0
      overflow: hidden
      text-indent: -9999px
      width: 229px
    .logo-brasil
      background: url('images/logo-brasil.png') 0 0 no-repeat
      display: block
      float: left
      height: 49px
      margin: 10px 0 0
      overflow: hidden
      text-indent: -9999px
      width: 153px
      
#second-footer
  background: #FFF
  height: 85px
  font-family: 'Open Sans'
  .links-uteis
    margin: auto
    padding: 15px
    width: 980px
    span
      border-right: 1px solid #eee
      color: #000
      display: block
      float: left
      font-family: 'Open Sans'
      font-size: 12px
      margin: 10px 100px 0 0
      padding: 10px 0
      width: 84px        
    .logo-transparencia
      background: url('images/logo-transparencia.png') center center no-repeat
      display: block
      float: left
      height: 62px
      margin: 0
      overflow: hidden
      text-indent: -9999px
      width: 199px
    .logo-acesso-a-informacao
      background: url('images/logo-acesso-a-informacao.png') center center no-repeat
      display: block
      float: left
      height: 62px
      margin: 0 0 0 130px
      overflow: hidden
      text-indent: -9999px
      width: 192px
    .logo-biblioteca
      background: url('images/logo-biblioteca.png') center center no-repeat
      display: block
      float: left
      height: 62px
      margin: 0 0 0 130px
      overflow: hidden
      text-indent: -9999px
      width: 135px
