#header
  padding: 5px

.header-content
  background: #F6F6F6 url('images/faixa_header_internal.png') center center repeat-x
  height: 227px
  .action-home-index &
    background: #F6F6F6 url('images/banner_header.jpg') center center repeat-x
    height: 480px

.header-content 
  #header 
    #participa-ma-header
      margin: 0 auto
      max-width: 960px

.header-content 
  #header 
    #accessibility
      float: left
      font-family: arial
      font-size: 10px
      margin: 5px 0 15px
      padding: 0
      width: 400px
      li
        display: inline
      a
        color: #000
        margin-right: 8px
        text-decoration: none
      span
        background: none repeat scroll 0 0 #2c66ce
        color: #FFFFFF
        padding: 0 3px
    #portal-siteactions
      float: right
      font-size: 10px
      margin: 5px 0px 15px 0
      padding: 0
      text-align: right
      width: 50%
      li
        display: inline
        margin-left: 10px
      a
        border-bottom: 1px dotted #00500f
        color: #00500f
        font-family: 'Open Sans', Arial, Helvetica, sans-serif
        padding: 0
        text-decoration: none
        text-transform: uppercase
        &:hover
          border-bottom: 1px dotted #b62221
          color: #b62221
    #user
      float: right
      margin: 0
      position: relative
      right: 0
      .welcome
        display: none 
      #top-search
        display: none
      .or
        display: none
      a
        border-left: 1px solid #000
        margin: 0
        padding: 0 10px
        text-decoration: none
        &#pending-tasks-count
          margin: 0
        i
          display: none
        strong
          color: #FFF
          font-family: 'Open Sans'
          font-size: 12px
          font-weight: 300
          &:hover
            color: #b62221
    #logo
      float: left
      padding: 0
      width: 30%
      a
        display: block
        width: 276px
      #portal-title
        background-image: url("images/logo_participama.png")
        background-repeat: no-repeat
        background-size: 276px
        display: block
        height: 83px
        width: 276px
        margin: 5px 0
    #sobre
      clear: right
      float: right
      margin: 10px 0 5px
      ul
        list-style: none
        margin: 0
        padding: 0
      li
        border-right: 1px solid #000
        display: inline
        &:last-child
          border: none
        a
          color: #fff
          font-family: 'Open Sans'
          font-size: 12px
          padding: 0 10px
          text-decoration: none 
          &:hover
            color: #b62221 
    #principios-referencias
      float: right
      margin: 10px 0 5px
      padding: 0
      text-align: right
      width: 400px
      ul
        list-style: none
        margin: 0
        padding: 0
      li
        border: 1px solid #FFF
        +border-radius(5px)
        display: inline-block
        margin-right: 5px
        padding: 5px
        &:hover
          background: #FFF
      a
        text-decoration: none
      span
        color: #000
        font-family: 'Open Sans'
        font-size: 12px
        padding: 0 5px
        text-transform: uppercase
    #portal-searchbox
      clear: right
      float: right
      margin: 10px 0 5px
      +border-radius(0)
      border: none 
      background: #fff
      padding: 2px
      text-align: right
      width: 200px
      .searchField
        border-right: none
        border: none
        padding: 0.45em
        width: 171px
      form 
        white-space: nowrap
      label
        font-weight: normal
      #searchGadget
        width: 13em
      input.searchButton
        background-image: url("images/search-button.gif")
        background-position: 6px 0px
        background-repeat: no-repeat
        background-color: transparent
        border: none
        cursor: pointer
        padding: 4px 15px
        text-indent: -2000px
        &:hover
          opacity: 1.0
    #social-icons
      float: right
      clear: right
      margin: 10px 0 0
      ul
        display: table-row
        padding: 0
        list-style: none
      li
        float: right
        width: 25px
      a
        background-repeat: no-repeat
        border: none
        height: 20px
        opacity: .85
        padding: 0px
        display: inline-block
        width: 25px
      span
        display: none
      #sb_face
        background: url('images/icone-branco-facebook.png') left top no-repeat
        &:hover, &:focus
          background: url('images/icone-branco-facebook.png') left bottom no-repeat
      #sb_youtb
        background: url('images/icone-branco-youtube.png') left top no-repeat
        &:hover, &:focus
          background: url('images/icone-branco-youtube.png') left bottom no-repeat
  #top-menu
    float: left
    margin: 0px auto auto
    width: 100%
    ul
      list-style: none
      padding: 0
    li
      display: inline
    a
      color: #FFF
      float: left
      font-family: 'Open Sans Bold'
      font-size: 12px
      padding: 15px 28px
      text-decoration: none
      text-transform: uppercase
      &:hover
        background-color: #b62221
    .link-sobre
      background-color: #0083cb
    .link-participacao
      background-color: #088ed7
    .link-eixos
      background-color: #1197e1
    .link-sistema
      background-color: #1aa2ec
  #votacao
    display: none
    float: right
    height: 200px
    margin-top: 40px
    width: 315px
    .action-home-index &
      display: block
    .title
      display: table
      font-family: 'Open Sans Bold'
      font-size: 40px
      line-height: 40px
      text-transform: uppercase
    .date
      display: table
      font-family: 'Open Sans Light'
      font-size: 40px
    a
      color: #FFF
      background-color: #89ba3f
      +border-radius(5px)
      font-family: 'Open Sans Extrabold'
      font-size: 18px
      display: table
      margin-top: 15px
      padding: 15px 25px
      text-decoration: none
      &:hover
        background-color: #b62221
