.highlights-block
  height: 380px
  margin: 15px auto 10px auto
  width: 980px
  .block-title
    border: none
    color: #0083cb
    font-family: 'Open Sans Bold'
    font-size: 24px
    font-variant: normal
    margin-bottom: 20px
  .highlights-container
    border: none
    height: 325px !important
    width: 100% !important
    .highlights-image-link
      background-color: #0083cb !important
      height: 325px !important
    img
      height: 100%
      left: 0
      min-width: 60%
      position: absolute
  .highlights-label
    background: #0083cb
    font-family: 'Open Sans'
    font-weight: bold
    font-size: 15px
    height: 225px
    left: 60%
    padding: 0px 50px
    position: absolute
    top: 40%
    width: 331px
  .highlights-block-pager
    bottom: 30px
    position: absolute
    right: 30px
    z-index: 10
    a
      background: rgba(0,0,0,0.1)
      color: transparent
      display: inline-block
      height: 16px
      width: 16px
      &.activeSlide
        background: rgba(0,0,0,0.3)
      &:hover
        border-color: #d0e9e2

.main-block
  margin-bottom: 0px

.main-content
  border: none
  box-shadow: none
  font-family: 'Open Sans'
  padding: 10px 0
  h1
    border: none
    color: #89ba3f
    font-family: 'Open Sans Bold'
    font-size: 24px
    font-variant: normal
    margin-bottom: 20px
    padding: 0
  #portal-news
    display: none

#highlighted-news
  border: none
  display: block
  height: 265px
  > .highlighted-news-item
    background: #FFF url('images/tinta_noticia1.png') center bottom no-repeat
    border: none
    float: left
    margin-right: 75px
    max-height: 260px
    padding: 0
    width: 275px
    &.post-2
      background: #FFF url('images/tinta_noticia2.png') center bottom no-repeat
    &.post-3
      background: #FFF url('images/tinta_noticia3.png') center bottom no-repeat
      margin-right: 0
    > .highlighted-news-item
      border: none
      padding: 0
    .news-pic
      background-size: 100%
      display: block
      height: 130px
      margin-bottom: 20px
    h2
      margin-bottom: 30px
      margin-top: 5px
      max-height: 62px
      overflow: hidden
      padding: 0 20px
      .post-title
        color: #89ba3f
        font-family: 'Open Sans'
        font-size: 16px
        font-variant: normal
    .post-date
      padding: 0 20px
    .highlighted-news-read-more
      display: none

.communities-block
  .block-title
    border: none
    color: #B21B1A
    font-family: 'Open Sans Bold'
    font-size: 24px
    font-variant: normal
    margin-bottom: 20px
  .common-profile-list-block
    font-family: 'Open Sans'
    font-weight: bold
    &:last-child .vcard
      margin-right: 0 !important 
    .vcard
      background: #FFF url('images/tinta-comunidade1.png') left bottom no-repeat
      border-radius: 0px
      border: none
      height: 230px
      margin: 0 6px !important
      width: 235px
      &:hover 
        border: none
        .menu-submenu-trigger
          display: none
      .profile_link
        height: 230px
        margin: 0
        max-height: 230px
        padding: 0
        width: 235px
      .profile-image
        background: #FFF
        height: 100px
        overflow: hidden
        width: 235px
        img
          max-width: 235px
          max-height: 100px
      .org
        color: #B21B1A
        height: 100px
        font-size: 16px 
        margin: 0px
        padding: 15px
        width: 205px
  .block-footer-content
    float: right
    height: auto
    text-align: center
    a
      color: #B21B1A
      display: block
      font-family: 'Open Sans Bold'
      font-size: 14px
      text-decoration: none
      padding-top: 10px

.display-content-block
  margin-bottom: 27px
  .block-title
    border: none
    color: #000
    font-family: 'Open Sans Bold'
    font-size: 24px
    font-variant: normal
    margin-bottom: 20px
  li
    background: #FFF url('images/tinta-consultaspublicas1.png') left bottom no-repeat
    display: inline-block
    margin: 0 6px 0 3px
    padding: 20px
    width: 195px
    &:last-child
      margin-right: 0
    .title
      height: 45px
      overflow: hidden 
      a
        color: #000
        font-family: 'Open Sans'
        font-weight: bold
        font-size: 16px
        text-decoration: none
    .published-at
      color: #aaa
    .lead
      height: 97px
      overflow: hidden
      word-break: break-word
    .read_more
      text-align: right
      padding-top: 10px
      a
        color: #aaa
        text-decoration: none
 
.event-plugin_event-block
  margin-right: 130px
  .block-title
    border: none
    color: #FFF
    font-family: 'Open Sans Bold'
    font-size: 24px
    font-variant: normal
    margin-bottom: 20px
  .events
    border-bottom: 1px solid #B21B1A
    li
      border-top: 1px solid #B21B1A
      color: #FFF
      font-family: 'Open Sans'
    .title
      font-family: 'Open Sans Bold'
    a
      padding: 5px 0
      &:hover
        background: rgba(255, 255, 255, 0.1)
    .month
      background: #B21B1A
      font-family: 'Open Sans Bold'
      font-size: 14px
      text-shadow: none
    .day
      background: #FFF
      border: none
      font-family: 'Open Sans Bold'
      font-size: 30px
      line-height: normal
    .days-left
      display: none

.container-block-plugin_container-block
  margin: 140px 0 30px 0
  .display-content-block
    margin: 0
    .block-title
      border: none
      color: #FFF
      font-family: 'Open Sans Bold'
      font-size: 24px
      font-variant: normal
      margin-bottom: 0px
      a
        color: #FFF
        text-decoration: none
    ul
      margin: 0
    li
      background: none
      display: block
      padding: 0
      width: 100%
    .lead
      height: auto
    .read_more
      display: none
    .title
      height: auto
      overflow: visible
      a
        border: none
        color: #FFF
        font-family: 'Open Sans'
        font-size: 18px
        font-variant: normal
        font-weight: 700
        text-decoration: none
    iframe
      height: 240px
