<div id="footer-content">
  <div class="institucional">
    <span class="logo-sistema">Sistema Estadual de Participação Popular</span>
    <p class="address">
      Av. Jerônimo de Albuquerque, S/N, 2º Andar, Bloco A, Edifício Clodomir Milet, <br />
      Calhau - São Luís/MA. CEP: 65051-000 <br />
      Horário de atendimento: 13h às 19h <br />
      Contato: participama@participa.ma.gov.br <br />
    </p>
  </div>
  <div class="coordenacao">
    <span>Coordenação Executiva:</span>
    <ul>
      <li><a href="http://www.sedihpop.ma.gov.br/" class="logo-secretaria" target="_blank">Secretaria de Direitos Humanos e Participação Popular</a></li>
    </ul>
  </div>
  <div class="parcerias">
    <span>Parcerias</span>
    <ul>
      <li><a href="http://www.seplan.ma.gov.br/" class="logo-seplan" target="_blank">Secretaria de Estado de Planejamento e Orçamento</a></li>
      <li><a href="http://www.brasil.gov.br/" class="logo-brasil" target="_blank">Governo Federal</a></li>
    </ul>
  </div>
</div>
<div id="second-footer">
  <div class="links-uteis">
    <span>Links úteis:</span>
    <a href="http://www.portaldatransparencia.ma.gov.br/" class="logo-transparencia" target="_blank">Portal da Transparência</a>
    <a href="http://www.acessoainformacao.ma.gov.br/" class="logo-acesso-a-informacao" target="_blank">Portal de Acesso a Informação</a>
    <a href="http://biblioteca.participa.br/" class="logo-biblioteca" target="_blank">Biblioteca Digital da Participação Social</a>
  </div>
</div>

<script>
// Ajusta estrutura dos posts
  jQuery('.controller-home #highlighted-news > .highlighted-news-item').each(function(num, noticia) {
    var data = jQuery('.post-date', noticia);
    jQuery(data).prependTo(noticia);
    var img = jQuery('img:first', noticia).remove();
    var url = jQuery('h2 a', noticia).attr('href');
    var pic = jQuery('<a class="news-pic"></a>').prependTo(noticia);
    pic.attr('href', url);
    pic.css('background-color', 'hsl('+Math.round(Math.random()*360)+',70%,70%)');
    if ( img.length > 0 )
      pic.css('background-image', 'url('+img.attr('src')+')');
  });

// Abreviar opcões de administração
  jQuery('#user #homepage-link strong').text('Meu Perfil');
  jQuery('#user .ctrl-panel strong').text('Meu Painel');
  jQuery('#user .admin-link strong').text('Adm');

// Mover botão de ver todos no bloco de comunidades
  jQuery('.communities-block .block-footer-content').appendTo('.communities-block .block-title');

// Link para Galeria de Vídeos
  var tit = jQuery('#content .container-block-plugin_container-block .display-content-block .block-title');
  var titGallery = jQuery('#content .container-block-plugin_container-block .display-content-block .block-title span');
  tit.html('<a href="https://www.youtube.com/channel/UCjSWK6SYUVMWbPPLluXkRow"><span>'+titGallery.text()+'</span></a>');
</script>
