<div class="header-content">
  <div role="banner" id="header">
    <div id="participa-ma-header">
      <ul id="accessibility">
        <li>
          <a id="link-conteudo" href="#content" accesskey="1">
            Ir para o conteúdo
            <span>1</span>
          </a>
        </li>
        <li>
          <a id="link-navegacao" href="#top-menu" accesskey="2">
            Ir para o menu
            <span>2</span>
          </a>
        </li>
        <li>
          <a id="link-buscar" href="#portal-searchbox" accesskey="3">
            Ir para a busca
            <span>3</span>
          </a>
        </li>
        <li>
          <a id="link-rodape" href="#theme-footer" accesskey="4">
            Ir para o rodapé
            <span>4</span>
          </a>
        </li>
      </ul>
      <ul id="portal-siteactions">
        <li id="siteaction-accessibility">
          <a href="/software-publico-brasileiro/acessibilidade">Acessibilidade</a>
        </li>
        <li id="siteaction-contraste">
          <a href="#">Alto Contraste</a>
        </li>
        <li id="siteaction-mapadosite">
          <a href="/search">Mapa do Site</a>
        </li>
      </ul>
      <div id="logo">
        <a title="Participa.MA" href="/">
          <span id="portal-title"></span>
        </a>
      </div>
      <div id="sobre">
        <ul id="links-rapidos">
          <li id="link-faq">
            <a href="/ajuda/ajuda/duvidas-frequentes">Perguntas frequentes</a>
          </li>
          <li id="link-glossario">
            <a href="/ajuda/dicionario-da-participacao">Dicionário da Participação</a>
          </li>
          <li id="link-contact">
            <a href="/contact/portal/new">Contato</a>
          </li>
          <%= render :partial => 'layouts/user' %>
        </ul>
      </div>
      <div role="search" id="portal-searchbox">
        <form action="/search">
          <input type="text" autocomplete="off" name="query" size="18" title="Buscar no Site" placeholder="Buscar no Site" accesskey="3" class="searchField" id="searchGadget">
          <input type="submit" class="searchButton" value="Buscar">
        </form>
      </div>
      <div id="principios-referencias">
        <ul>
          <li>
            <a href="/portal/principios-do-participa"><span>Princípios do Participa.MA</span></a>
          </li>
          <li>
            <a href="/portal/documentos-de-referencia"><span>Documentos de Referência</span></a>
          </li>
        </ul>
      </div>
      <div id="social-icons">
        <ul>
          <li>
            <a id="sb_youtb" title="Youtube" href="https://www.youtube.com/channel/UCjSWK6SYUVMWbPPLluXkRow"><span>Youtube</span></a>
          </li>
          <li>
            <a id="sb_face" title="Facebook" href="https://www.facebook.com/participama"><span>Facebook</span></a>
          </li>
        </ul>
      </div>
      <div id="top-menu">
        <ul>
          <li>
            <a class="link-sobre" href="/ajuda/ajuda/quem-somos">Sobre o Participa.MA</a>
          </li>
          <li>
            <a class="link-participacao" href="/ajuda/ajuda/participacao-popular">Participação Popular</a>
          </li>
          <li>
            <a class="link-eixos" href="/ajuda/ajuda/eixos-de-participacao">Eixos de Participação</a>
          </li>
          <li>
            <a class="link-sistema" href="/ajuda/ajuda/politica-estadual-de-participacao-popular">Política Estadual de Participação Popular</a>
          </li>
        </ul> 
      </div>
      <div id="votacao">
        <span class='title'>Conferências Estaduais</span><span class='date'>2015-2016</span>
        <a href="/conferencias-2015-2016">Leia mais!</a>
      </div>
    </div>
  </div>
</div>
